<head>
  <meta charset="utf-8">

  <title>{{ siteName }}{% if  entry.title is defined %} / {{ entry.title }} {% elseif title is defined %} / {{ title }}{% endif %}</title>

  {% if siteInformation.metaDescription %}
    <meta name="description" content="{{ siteInformation.metaDescription }}">
  {% endif %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% if entry.title is defined %}
  <link rel="canonical" href="{{ entry.title }}">
  {% elseif  entry.url is defined %}
  <link rel="canonical" href="{{ entry.url }}">
  {% endif %}

  <link rel="dns-prefetch" href="">
  <link rel="stylesheet" href="{{ siteUrl }}static/main.css?v={{ now|date("zB") }}" media="screen">

  <script src="{{ siteUrl }}static/lib/modernizr.min.js"></script>

  <meta property="og:type" content="article">
  {% if entry.title is defined %}
  <meta property="og:title" content="{{ entry.title }}">
  <meta property="og:url" content="{{ entry.url }}">
  {% elseif  entry.url is defined %}
  <meta property="og:url" content="{{ entry.url }}">
  {% endif %}
  {% if siteInformation.metaDescription %}
  <meta property="og:description" content="{{ siteInformation.metaDescription }}">
  {% endif %}
  <meta property="og:site_name" content="{{ siteName }}">

  <link rel="apple-touch-icon" sizes="57x57" href="{{ siteUrl }}static/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ siteUrl }}static/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ siteUrl }}static/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ siteUrl }}static/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ siteUrl }}static/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ siteUrl }}static/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ siteUrl }}static/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ siteUrl }}static/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}static/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ siteUrl }}static/favicon.png" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ siteUrl }}static/favicon.png" sizes="160x160">
  <link rel="icon" type="image/png" href="{{ siteUrl }}static/favicon.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ siteUrl }}static/favicon.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ siteUrl }}static/favicon.png" sizes="32x32">

</head>
